In [1]:
import kquant as kq

In [2]:
kq.set_api("KRX2308020", "EQDkUcyI3dK6oIAXqAR8BXOK4bKxHHmH")

In [3]:
df_symbols = kq.symbol_stock()
df_symbols

,ISIN,SYMBOL,NAME,NAME_EN,SEC_TYPE,ADMIN_ISSUE,MARKET
0,HK0000057197,900110,이스트아시아홀딩스,East Asia Holdings,FS,0,코스닥
1,HK0000214814,900270,헝셩그룹,HENG SHENG GROUP,FS,0,코스닥
2,HK0000295359,900260,로스웰,Rothwell,FS,0,코스닥
3,HK0000307485,900290,GRT,GRT,FS,0,코스닥
4,HK0000312568,900300,오가닉티코스메틱,ORGANIC TEA COSMETICS,FS,91,코스닥
...,...,...,...,...,...,...,...
"3,753",KYG2114A1094,900120,씨케이에이치,CKH,FS,0,코스닥
"3,754",KYG2115T1076,900250,크리스탈신소재,Crystal New Material,FS,0,코스닥
"3,755",KYG3931T1076,900070,글로벌에스엠,GSMT,FS,0,코스닥
"3,756",KYG5307W1015,900140,엘브이엠씨홀딩스,LVMC Holdings,FS,0,유가증권
"3,757",USU652221081,900100,애머릿지,Ameridge,FS,0,코스닥

In [4]:
df = kq.daily_stock("005930", "20230101", "20230630")
df

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,005930,"71,700","72,500","71,500","72,400","10,541,901","761,525,382,100",800,1.1200,2,00,"71,700","72,500","71,500","72,400",800,1.1200,2,"432,212,256,620,000","5,969,782,550"
119,2023-06-27,005930,"72,500","72,600","72,000","72,600","9,442,997","683,624,715,982",200,0.2800,2,00,"72,500","72,600","72,000","72,600",200,0.2800,2,"433,406,213,130,000","5,969,782,550"
120,2023-06-28,005930,"72,600","72,700","72,000","72,700","8,783,093","635,516,679,700",100,0.1400,2,00,"72,600","72,700","72,000","72,700",100,0.1400,2,"434,003,191,385,000","5,969,782,550"
121,2023-06-29,005930,"73,100","73,400","72,400","72,400","12,229,967","891,731,369,446",-300,-0.4100,5,00,"73,100","73,400","72,400","72,400",-300,-0.4100,5,"432,212,256,620,000","5,969,782,550"
122,2023-06-30,005930,"72,500","72,700","71,700","72,200","11,694,765","844,353,820,176",-200,-0.2800,5,00,"72,500","72,700","71,700","72,200",-200,-0.2800,5,"431,018,300,110,000","5,969,782,550"

In [5]:
kq.daily_stock("005930", "20230101")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2023-01-02,005930,"55,500","56,100","55,200","55,500","10,031,448","558,433,491,400",200,0.3600,2,00,"55,500","56,100","55,200","55,500",200,0.3600,2,"331,322,931,525,000","5,969,782,550"
1,2023-01-03,005930,"55,400","56,000","54,500","55,400","13,547,030","747,898,872,200",-100,-0.1800,5,00,"55,400","56,000","54,500","55,400",-100,-0.1800,5,"330,725,953,270,000","5,969,782,550"
2,2023-01-04,005930,"55,700","58,000","55,600","57,800","20,188,071","1,151,473,733,800","2,400",4.3300,2,00,"55,700","58,000","55,600","57,800","2,400",4.3300,2,"345,053,431,390,000","5,969,782,550"
3,2023-01-05,005930,"58,200","58,800","57,600","58,200","15,682,826","911,973,904,900",400,0.6900,2,00,"58,200","58,800","57,600","58,200",400,0.6900,2,"347,441,344,410,000","5,969,782,550"
4,2023-01-06,005930,"58,300","59,400","57,900","59,000","17,334,989","1,018,769,177,900",800,1.3700,2,00,"58,300","59,400","57,900","59,000",800,1.3700,2,"352,217,170,450,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,2023-08-30,005930,"67,300","67,700","67,100","67,100","9,181,223","618,598,277,000",300,0.4500,2,00,"67,300","67,700","67,100","67,100",300,0.4500,2,"400,572,409,105,000","5,969,782,550"
165,2023-08-31,005930,"67,100","67,200","66,400","66,900","15,964,630","1,066,351,061,800",-200,-0.3000,5,00,"67,100","67,200","66,400","66,900",-200,-0.3000,5,"399,378,452,595,000","5,969,782,550"
166,2023-09-01,005930,"66,800","71,000","66,700","71,000","29,738,235","2,064,179,447,500","4,100",6.1300,2,00,"66,800","71,000","66,700","71,000","4,100",6.1300,2,"423,854,561,050,000","5,969,782,550"
167,2023-09-04,005930,"72,900","72,900","70,700","71,200","26,286,495","1,881,296,768,471",200,0.2800,2,00,"72,900","72,900","70,700","71,200",200,0.2800,2,"425,048,517,560,000","5,969,782,550"
168,2023-09-05,005930,"70,900","71,500","70,200","70,600","9,702,811","685,928,033,500",-600,-0.8400,5,00,"70,900","71,500","70,200","70,600",-600,-0.8400,5,"421,466,648,030,000","5,969,782,550"

In [7]:
kq.daily_stock("005930")

,DATE,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,CHG,CHG_PCT,CHG_TYPE,EX_EVENT,OPEN_NOTADJ,HIGH_NOTADJ,LOW_NOTADJ,CLOSE_NOTADJ,CHG_NOTADJ,CHG_PCT_NOTADJ,CHG_TYPE_NOTADJ,MARKETCAP,SHARES
0,2022-09-05,005930,"57,400","57,800","56,800","57,100","11,425,977","653,884,056,584",-400,-0.7000,5,00,"57,400","57,800","56,800","57,100",-400,-0.7000,5,"340,874,583,605,000","5,969,782,550"
1,2022-09-06,005930,"57,200","57,600","56,900","57,100","7,503,086","429,152,038,700",0,0.0000,3,00,"57,200","57,600","56,900","57,100",0,0.0000,3,"340,874,583,605,000","5,969,782,550"
2,2022-09-07,005930,"56,700","56,700","55,900","56,000","17,384,854","975,695,179,700","-1,100",-1.9300,5,00,"56,700","56,700","55,900","56,000","-1,100",-1.9300,5,"334,307,822,800,000","5,969,782,550"
3,2022-09-08,005930,"56,200","56,400","55,600","55,600","18,000,016","1,006,366,398,000",-400,-0.7100,5,00,"56,200","56,400","55,600","55,600",-400,-0.7100,5,"331,919,909,780,000","5,969,782,550"
4,2022-09-13,005930,"57,000","58,500","56,800","58,100","17,166,581","991,015,891,355","2,500",4.5000,2,00,"57,000","58,500","56,800","58,100","2,500",4.5000,2,"346,844,366,155,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,2023-08-30,005930,"67,300","67,700","67,100","67,100","9,181,223","618,598,277,000",300,0.4500,2,00,"67,300","67,700","67,100","67,100",300,0.4500,2,"400,572,409,105,000","5,969,782,550"
245,2023-08-31,005930,"67,100","67,200","66,400","66,900","15,964,630","1,066,351,061,800",-200,-0.3000,5,00,"67,100","67,200","66,400","66,900",-200,-0.3000,5,"399,378,452,595,000","5,969,782,550"
246,2023-09-01,005930,"66,800","71,000","66,700","71,000","29,738,235","2,064,179,447,500","4,100",6.1300,2,00,"66,800","71,000","66,700","71,000","4,100",6.1300,2,"423,854,561,050,000","5,969,782,550"
247,2023-09-04,005930,"72,900","72,900","70,700","71,200","26,286,495","1,881,296,768,471",200,0.2800,2,00,"72,900","72,900","70,700","71,200",200,0.2800,2,"425,048,517,560,000","5,969,782,550"
248,2023-09-05,005930,"70,900","71,500","70,200","70,500","7,603,988","537,791,937,300",-700,-0.9800,5,00,"70,900","71,500","70,200","70,500",-700,-0.9800,5,"420,869,669,775,000","5,969,782,550"

In [8]:
kq.rank_stocks()

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,005930,"70,900","71,500","70,200","70,600","7,604,032","537,795,043,000","71,200",-0.8427,5,"421,466,648,030,000",삼성전자,SamsungElec,ST,유가증권
1,373220,"528,000","533,000","528,000","532,000","61,460","32,620,352,000","530,000",0.3774,2,"124,488,000,000,000",LG에너지솔루션,LG Energy Solution,ST,유가증권
2,000660,"118,100","119,900","117,700","119,700","861,944","102,677,020,600","119,200",0.4195,2,"87,141,883,090,500",SK하이닉스,SK hynix,ST,유가증권
3,207940,"733,000","738,000","731,000","732,000","13,662","10,023,943,000","736,000",-0.5435,5,"52,099,368,000,000",삼성바이오로직스,SAMSUNG BIOLOGICS,ST,유가증권
4,005490,"595,000","609,000","587,000","596,000","806,098","482,908,519,000","590,000",1.0169,2,"50,404,453,080,000",POSCO홀딩스,POSCO Holdings,ST,유가증권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,753",334700,"5,620","5,620","5,555","5,600",5,"27,970","5,580",0.3584,2,"2,800,000,000",KBSTAR 팔라듐선물인버스(H),KBSTAR Pall Inv Fut(H),EF,유가증권
"3,754",137930,"13,105","13,125","13,035","13,060",16,"209,215","13,060",0.0000,3,"2,612,000,000",마이다스 200커버드콜5%OTM,MIDAS COVERED CALL,EF,유가증권
"3,755",309210,"8,020","8,020","7,940","7,955",156,"1,241,145","7,985",-0.3757,5,"2,545,600,000",ARIRANG KRX300헬스케어,ARIRANG KRX300HC,EF,유가증권
"3,756",412560,"2,530","2,535","2,505","2,520","6,352","16,056,350","2,510",0.3984,2,"2,268,000,000",TIGER KRX BBIG K-뉴딜레버리지,TIGER BBIG NEWDEAL LEVERAGE,EF,유가증권
"3,757",500005,0,0,0,"2,240",0,0,"2,240",0.0000,0,"2,240,000,000",신한 인버스 브렌트원유 선물 ETN(H),Shinhan Inverse Brent Futures ETN(H),EN,유가증권

In [9]:
kq.rank_stocks(order_key="VOLUME")

,SYMBOL,OPEN,HIGH,LOW,CLOSE,VOLUME,AMOUNT,PREV_CLOSE,CHG_PCT,CHG_TYPE,MARKETCAP,NAME,NAME_EN,SEC_TYPE,MARKET
0,046970,"2,260","2,585","2,130","2,430","48,284,502","116,700,942,860","2,230",8.9686,2,"77,880,610,620",우리로,WOORIRO,ST,코스닥
1,252670,"2,535","2,545","2,515","2,535","48,208,772","122,090,479,925","2,530",0.1976,2,"1,679,944,500,000",KODEX 200선물인버스2X,KODEX 200 Futures Inverse 2X,EF,유가증권
2,251340,"3,580","3,630","3,580","3,615","35,597,345","128,530,048,770","3,570",1.2605,2,"994,125,000,000",KODEX 코스닥150선물인버스,KODEX KOSDAQ150 INVERSE,EF,유가증권
3,076610,400,504,400,484,"25,261,247","12,187,309,409",388,24.7423,2,"61,596,741,096",해성옵틱스,Haesung Optics,ST,코스닥
4,050110,"1,861","1,899","1,780","1,793","20,174,805","36,935,381,912","1,487",20.5783,2,"132,366,643,574",캠시스,CammSys,ST,코스닥
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"3,753",298340,0,0,0,"53,055",0,0,"53,055",0.0000,0,"5,305,500,000",ARIRANG 국채선물3년,ARIRANG KTB 3Y Futures,EF,유가증권
"3,754",500080,0,0,0,"10,065",0,0,"10,065",0.0000,0,"10,065,000,000",신한 S&P 레버리지 유로 선물 ETN(H),Shinhan S&P 2X Euro Futures ETN(H),EN,유가증권
"3,755",500005,0,0,0,"2,240",0,0,"2,240",0.0000,0,"2,240,000,000",신한 인버스 브렌트원유 선물 ETN(H),Shinhan Inverse Brent Futures ETN(H),EN,유가증권
"3,756",500008,0,0,0,"5,820",0,0,"5,820",0.0000,0,"11,640,000,000",신한 인버스 구리 선물 ETN(H),Shinhan Inverse Copper Futures ETN(H),EN,유가증권
"3,757",032860,0,0,0,"3,640",0,0,"3,640",0.0000,0,"65,288,375,880",휴먼엔,Human N,ST,코스닥